

.notification-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  color: "gray";
  cursor: pointer;
}

.quantity {
  position: absolute;
  display: flex;
  top: -5px;
  right: -5px;
  color: white;
  background-color: #28bd11;
  padding: 0 5px;
  border-radius: 50%;
}
.quantity span {
  font-size: 14px;
}

/* cart-popper */
.notification-popper {
  max-width: 376px;
  padding: 20px 0;
  background-color: #000;

}

.notification-header {
  padding: 0 20px 15px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #f0f0f0;
}
.notification-items {
  padding: 15px 20px 0;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.notification-items::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn */
  }
  @media (max-width:1000px) {
    .quantity{
      top:0px;
      right: 0px;
    }
    .quantity span{
      font-size: 10px;
    }
    .notification-popper{
      max-width: 300px;
    }
    .notification-header{
      font-size: 16px;
    }
  }