

.notification-btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  color: "gray";
  cursor: pointer;
}

.quantity {
  position: absolute;
  display: flex;
  top: -5px;
  right: -5px;
  color: white;
  background-color: #28bd11;
  padding: 0 5px;
  border-radius: 50%;
}
.quantity span {
  font-size: 14px;
}

/* cart-popper */
/* .notification-popper {
  max-width: 376px;
  padding: 20px 0;
  background-color: #000;
  
} */

.notification-popper {
  position: absolute;
  top: 40px; /* Khoảng cách từ icon thông báo */
  left: 50%; /* Căn giữa theo chiều ngang */
  transform: translateX(-50%); /* Dịch chuyển về giữa */
  max-width: 450px;
  width: 400px; /* Giới hạn chiều rộng popper */
  padding: 25px 0;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tạo bóng cho popper */
  z-index: 9999; /* Đảm bảo popper không bị che khuất */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Khi popper được mở ra */
.notification-popper.show {
  opacity: 1;
  visibility: visible;
}


.notification-header {
  padding: 0 20px 15px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification-items {
  padding: 15px 20px 0;
  height: 500px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.notification-items::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn */
  }
  @media (max-width:1000px) {
    .quantity{
      top:0px;
      right: 0px;
    }
    .quantity span{
      font-size: 10px;
    }
    .notification-popper{
      max-width: 300px;
    }
    .notification-header{
      font-size: 16px;
    }
  }