/* Thêm các style cho từng class */

.forgot-password-container {
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('http://localhost:3000/images/background.png') no-repeat center center;
        background-size: cover;
        padding: 20px 8%;
  }
  
.forgot-password-logo {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    width: 120px; 
    z-index: 1000; 
  }
  
.forgot-password-content {
    width: 100%;
    max-width: 500px; 
    background: #333333;
    border-radius: 25px;
    padding: 45px;
    margin: auto;
    max-height: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }
.form-logo {
    width: 170px;
    margin-bottom: 35px;
    }

.forgot-password-text {
    color: #ffffffc0;
    font-size: 15px;
    text-align: justify;
    margin-bottom: 10px;
  }
  
.forgot-password-input {
    width: 100%;
    height: 50px;
    background: #000000;
    color: white;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 12px 15px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s ease;
}
    
.forgot-password-input:focus {
    border-color: #28BD11;
}
    
.forgot-password-input::placeholder{
        font-size: 16px;
        font-weight: 500;
}
.forgot-password-button {
    background-color: #28BD11;
    width: 45%;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px auto; 
}
  
.button-text {
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  
.forgot-password-back {
        display: flex;
        align-items: center;
        color: #b3b3b3;
        font-size: 14px;
        cursor: pointer;
        margin-top: 20px; 
        justify-content: right;
    }
    
.back-text {
        color: #737373;
}
    
.back-link {
        color: #28BD11;
        cursor: pointer;
        margin-left: 5px; 
}
  
.forgot-password-prev {
    color: white;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
.resend-code {
    font-size: 14px;
    color: #737373;
    margin-top: 10px;
  }
  
.resend-code .back-link {
    color: white;
  }
  