.home .banner {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.home .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Bỏ hiệu ứng transform ở đây */
}

.home .banner:hover img {
  transform: scale(1.05); /* Zoom nhẹ khi hover */
}

.home .banner-caption {
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: #fff;
  z-index: 10;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.home .btn-watch, .home .btn-detail {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home .btn-watch:hover, .home .btn-detail:hover {
  background-color: #28bd11; /* Màu xanh nổi bật khi hover */
}
.banner img {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.banner:hover img {
  transform: scale(1.02); /* Zoom nhẹ khi hover */
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
