@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 
body, html {
    font-family: 'Roboto Condensed', sans-serif;
  }
input:focus,
textarea:focus,
select:focus {  
    outline: 0 !important;
    box-shadow: none !important;
}
/* Basic class for tailwind */
.linear-bg{
    background: linear-gradient(269.82deg, #07091C00 0.17%, #080a1ad6 99.87%);
}
.hoveres{
    @apply hidden
}
.hovered:hover .hoveres{
    @apply flex-colo
}
.flex-colo{
    @apply flex flex-col justify-center items-center;
}
.flex-rows{
    @apply flex flex-row justify-center items-center;
}
.flex-btn{
    @apply flex justify-between items-center;
}
.transition{
    @apply duration-300 ease-in;
}
.zIndex{
   z-index: 1000;
}